#inicio	{
	width: 1200px;
	height: 1000px;
	border: 2px solid #000;
	border-radius: 5px;
	margin: auto;


}

header	{
	width: 800px;
	height: 160px;
	border: 2px solid #000;
	border-radius: 5px;
	margin-left: auto;
	line-height: 50px;
	margin-top: 15px;
	margin-right: 10px;
}

#logo	{
	width: 246px;
	height: 152px;
	float: left;
	margin-right: auto;
}

#titulo {
	margin-left: 10px;
}

.link {
	width: 1190px;
	height: 50px;
	border: 1px solid #CCC;
	float: right;
	margin-right: 5px;
	margin-top: 10px; 
}

.link ul {}

.link ul li {
	list-style: none;
	float: left;

}

.link ul li a {
	text-decoration: none;
	padding: 10px 30px;
	border: 1px solid #CCC;

}

#presentacion {
	margin-top: 70px; 
	margin-left: 5px;
	background-color: #CCC;
	width: 600px;
	height: 170px;
	
}

