#inicio	{
	width: 960px;
	height: 1214px;
	border: 2px solid #000;
	border-radius: 10px;
	margin: auto;
	background-color: E6E6E8;

}

body {
	font-family: Arial;

}

header	{
	width: 650px;
	height: 160px;
	border: 2px solid #000;
	border-radius: 10px;
	margin-left: auto;
	line-height: 50px;
	margin-top: 15px;
	margin-right: 10px;
}

#logo	{
	width: 246px;
	height: 152px;
	float: left;
	margin-right: auto;

}

#logo figure img  {
	border-radius: 10px;
	margin-top: 5px;
}

#titulo {
	margin-left: 10px;
	color: #004669;
}

.link {
	width: 950px;
	height: 50px;
	border: 1px solid #CCC;
	float: right;
	margin-right: 5px;
	margin-top: 10px; 
	border-radius: 10px;
	background-color: #004669;
}

.link ul {}

.link ul li {
	list-style: none;
	float: left;

}

.link ul li a {
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #004669;
	font-weight: bold;
	padding: 5px 50px;
	color: #FFFFFF
}

nav a: hover {
	background: #CCCCCC;
	color: #000000;

}

#presentacion article{
	margin-top: 10px; 
	background-color: #C0C0C0;
	width: 400px;
	float: left;
	border-radius: 10px;
	height: 270px;
	margin-left: 10px;
	}

#presentacion p {
	margin-left: 10px;
	margin-top: 30px;
	color: #666;
	text-align: justify;
	margin-right: 10px;
}

#presentacion a{
	margin-left: 120px;
}

aside a img {
	margin-left: 60px;
	margin-top: 30px;
}

aside img {
	margin-top: 20px;
}

.twitter-timeline {
	float: left;
}

#temas {
	width: 950px;
	height: auto; overflow: hidden;
	border: 1px solid;
	border-radius: 10px;
	margin-left: 5px;

}


.seguridadfisica h4  {
	text-align: center;
}

.tiposdeamenaza h4  {
	text-align: center;
}

.protocolos h4  {
	text-align: center;
}

.elementos {
	width: 237px;
	height: 400px;
	border: 1px solid;
	float: left;
}

 .elementos h4  {
	text-align: center;
}



.seguridadfisica{
	width: 237px;
	height: 400px;
	border: 1px solid;
	float: left;
}

.tiposdeamenaza {
	width: 237px;
	height: 400px;
	border: 1px solid;
	float: left;
}

.protocolos {
	width: 231px;
	height: 400px;
	border: 1px solid;
	float: right;
}

.elementos img {
	margin-left: 10px;
}

.seguridadfisica img {
	margin-left: 10px;
}

.tiposdeamenaza img {
	margin-left: 10px;
}

.protocolos img {
	margin-left: 5px;
}

.elementos p {
	margin-left: 5px;
	margin-right: 5px;
	color: #666; 
}

.seguridadfisica p {
	margin-left: 5px;
	margin-right: 5px;
	color: #666; 
}

.tiposdeamenaza p {
	margin-left: 5px;
	margin-right: 5px;
	color: #666; 
}

.protocolos p {
	margin-left: 5px;
	margin-right: 5px;
	color: #666; 
}

.elementos a {
	color: #004669;
	text-decoration: none;
	font-style: oblique;
	font-size: 13px;
}

.seguridadfisica a {
	color: #004669;
	text-decoration: none;
	font-style: oblique;
	font-size: 13px;
}

.tiposdeamenaza a {
	color: #004669;
	text-decoration: none;
	font-style: oblique;
	font-size: 13px;
}

.protocolos a {
	color: #004669;
	text-decoration: none;
	font-style: oblique;
	font-size: 13px;
}


footer {
	height: 350px;
	margin-top: 10px;
	background: #000000;
	color: #FFFFFF;
	border-radius: 6px;
	
}

